<%= link_to "The Tavern", "/", class: "text-xl font-bold block uppercase pl-4 text-slate-700" %>
<nav>
  <% if @adventurer %>
    <%= link_to "< Head Back", "/", class: "text-xl font-bold block pr-4 text-slate-700" %>
  <% end %>
</nav>

